@use '@shiv-bhoomi/design-tokens/scss' as *;

.hero {
  position: relative;

  &__image-wrapper {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
  }

  &__grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: $spacing-2;
    width: 100%;

    &-main {
      position: relative;
      height: 100%;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &-side {
      display: flex;
      gap: $spacing-2;
      flex-direction: column;
      height: fit-content;

      img {
        width: 100%;
        height: calc(50% - #{$spacing-2});
        object-fit: cover;
      }
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__badge {
    position: absolute;
    top: $spacing-6;
    left: $spacing-6;
    padding: $spacing-2 $spacing-4;
    background-color: rgba($color-primary, 0.9);
    color: $color-white;
    font-size: $font-size-sm;
    font-weight: $font-weight-semibold;
    border-radius: $border-radius-full;
  }

  &__content {
    padding: $spacing-6;
  }

  &__title {
    font-family: $font-family-display;
    font-size: $font-size-3xl;
    font-weight: $font-weight-black;
    margin: 0 0 $spacing-3 0;
  }

  &__location {
    display: flex;
    align-items: center;
    gap: $spacing-2;
    font-size: $font-size-base;
    margin-bottom: $spacing-4;
    opacity: 0.8;

    .material-symbols-outlined {
      font-size: $font-size-xl;
    }
  }

  &__stats {
    display: flex;
    gap: $spacing-6;
    flex-wrap: wrap;
  }

  &__stat {
    display: flex;
    align-items: center;
    gap: $spacing-2;
    font-size: $font-size-base;
    opacity: 0.8;

    .material-symbols-outlined {
      font-size: $font-size-xl;
    }
  }
}