@use '@shiv-bhoomi/design-tokens/scss' as *;

.itinerary {
  padding: $spacing-6;

  &__list {
    display: flex;
    flex-direction: column;
    gap: $spacing-6;
  }

  &__item {
    display: grid;
    grid-template-columns: 120px 1fr;
    gap: $spacing-4;
    padding-bottom: $spacing-6;
    border-bottom: $border-width-thin solid $color-gray-200;

    &:last-child {
      border-bottom: none;
      padding-bottom: 0;
    }
  }

  &__day {
    display: flex;
    flex-direction: column;
    gap: $spacing-2;

    &-number {
      font-size: $font-size-2xl;
      font-weight: $font-weight-black;
    }
  }

  &__badge {
    font-size: $font-size-xs;
    font-weight: $font-weight-semibold;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    opacity: 0.7;
  }

  &__title {
    font-size: $font-size-lg;
    font-weight: $font-weight-bold;
    margin: 0 0 $spacing-2 0;
  }

  &__description {
    font-size: $font-size-base;
    line-height: 1.6;
    margin: 0 0 $spacing-3 0;
    opacity: 0.8;
  }

  &__image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: $border-radius-lg;
  }
}

.section__title {
  font-family: $font-family-display;
  font-size: $font-size-2xl;
  font-weight: $font-weight-bold;
  margin: 0 0 $spacing-4 0;
  padding-bottom: $spacing-3;
  border-bottom: 2px solid currentColor;
}
